header{
    text-align: center;
    text-shadow: 4px 4px 10px rgb(58, 91, 162);
    
    margin: 2pt 28pt 0pt 28pt;
    padding: 1em 6em 1em 6em;
    
    border-radius: 20px 0px 40px 0px;
    box-shadow: 8px 12px 60px 8px red,
                10px 20px 80px 12px blue;
    
    background-color: #566d78;
}
main{
    background-color: rgba(127, 242, 255, 0.7);
    margin: 2pt 28pt 0pt 28pt;
    padding: 1em 6em 1em 6em;
}
footer{
    margin: 2pt 28pt 0pt 28pt;
    padding: 1em 6em 1em 6em;

    background-color: dimgrey;
}
body{
    background-color: deepskyblue;
    color: rgb(65, 9, 68);
    margin: 1em;
}
h1, h2{
    color: #566d78;
    background-color: rgb(65, 9, 68);
    border-radius: 6px;
}
h2{
    padding: 8px;
}
p{
    background-color: white;
    padding: 1em;
    border-radius: 8px;
}