<h1 [class.gray]="h1Style">Home</h1>

<h2 [ngClass]="{
    'gray': !h1Style,
    'large': h1Style
  }">Sweet Home</h2>

<h3 [style.color]="h1Style ? 'pink' : 'green'">En couleurs</h3>

<h4 [ngStyle]="{
    'color': h1Style ? 'teal' : 'yellow',
    'font-size': !h1Style ? '1em' : '2em'
}">pour terminer</h4>

<button (click)="firstClick()">Click me first</button>

<button (click)="secondClick()">Click me second</button>

<h1>Users</h1>

<ul *ngIf="users">
  <li *ngFor="let user of users.data">
    <img [src]="user.avatar">
    <p>{{ user.first_name }} {{ user.last_name }}</p>
  </li>
</ul>