{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h2>titre de l'article</h2>
    <div class="metadata">écrit le 7 février 2019</div>
    <div class="content">
        <img src="http://placehold.it/350x150" alt="">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores esse nisi quae vel beatae vitae.</p>
        <p>Labore quidem sint ad explicabo, consequatur molestias voluptas veritatis possimus minus inventore fuga quia laboriosam.</p>
        <hr>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio rerum saepe non nesciunt obcaecati deleniti veritatis libero qui neque eum voluptatum perferendis rem molestiae, pariatur earum eligendi incidunt voluptatibus id dicta esse nulla minus? Ex deleniti natus voluptatem ipsum! Nostrum repellat voluptatibus mollitia sapiente quasi, maiores porro sint at quidem?</p>
        <p>Enim, error sunt. Sint quia vero aut similique incidunt fugiat officiis nisi illo quae, fuga beatae hic veritatis nobis dicta, blanditiis libero eos dolore doloribus sunt rerum ut ratione unde? Illum dicta tenetur ipsam rem natus sequi quae? Saepe nihil id libero veniam non unde obcaecati? Earum suscipit dolorem maiores!</p>
        <p>Repellat, doloribus accusamus ad odit quas voluptatum aliquam assumenda praesentium, vero reprehenderit ratione architecto quos animi consectetur placeat, iure corporis nulla illo reiciendis laboriosam! Ipsam harum repellendus voluptatem laudantium quae, repellat est culpa, aliquam facere, distinctio porro praesentium nesciunt non maxime molestiae itaque ullam dolore velit accusamus. Voluptates, quaerat suscipit?</p>
    </div>
</article>
{% endblock %}