<!-- Main -->
<div id="main">
	<!-- First Section -->
		<section id="first" class="main special">
			<header class="major">
				<h2>{{ c2-titre }}</h2>
			</header>
			<ul class="features">
				<li>
					<span class="icon major style1 {{ c2-icon-1 }}"></span>
					<h3>{{ c2-sous-titre-1 }}</h3>
					<p>{{ c2-contenu-1 }}</p>
				</li>
				<li>
					<span class="icon major style3 {{ c2-icon-2 }}"></span>
					<h3>{{ c2-sous-titre-2 }}</h3>
					<p>{{ c2-contenu-2 }}</p>
				</li>
				<li>
					<span class="icon major style5 {{ c2-icon-3 }}"></span>
					<h3>{{ c2-sous-titre-3 }}</h3>
					<p>{{ c2-contenu-3 }}</p>
				</li>
			</ul>
			<footer class="major">
				<ul class="actions special">
					<li><a href="{{ c2-lien }}" class="button">{{ c2-label }}</a></li>
				</ul>
			</footer>
		</section>
</div>
