<!-- Main -->
<div id="main">
	<!-- Get Started -->
		<section id="cta" class="main special">
			<header class="major">
				<h2>Congue imperdiet</h2>
				<p>Donec imperdiet consequat consequat. Suspendisse feugiat congue<br />
				posuere. Nulla massa urna, fermentum eget quam aliquet.</p>
			</header>
			<footer class="major">
				<ul class="actions special">
					<li><a href="generic.html" class="button primary">Get Started</a></li>
					<li><a href="generic.html" class="button">Learn More</a></li>
				</ul>
			</footer>
		</section>
</div>
